HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
*.cmd
interview/mvnw
interview/.mvn/
interview-request/mvnw
interview-request/.mvn/
message-queue/mvnw
message-queue/.mvn/
notification/mvnw
notification/.mvn/
openfeign-service/mvnw
openfeign-service/.mvn/
technical-advisor/mvnw
technical-advisor/.mvn/
